<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"  layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Add User</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form th:action="@{/admin/save-add-user}" th:object="${user}" method="POST">
                    <div class="form-group">
                        <label >User Name:</label>
                        <input type="text" class="form-control" th:field="*{ssoId}">
                    </div>
                    <div class="form-group">
                        <label >FullName:</label>
                        <input type="text" class="form-control" th:field="*{fullname}">
                    </div>
                    <div class="form-group">
                        <label >Password:</label>
                        <input type="password" class="form-control" th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label >Email:</label>
                        <input type="email" class="form-control" th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <label >Role:</label>
                        <select th:field="*{userRoleSet}" class="form-control" multiple>
                            <option th:each="ur:${listRole}" th:value="${ur.id}" th:utext="${ur.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>