<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Quan Ly User</h1>
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="rol">-->
<!--                <form th:action="@{/admin/save-student-search}" method="post" th:object="${studentSearch}">-->
<!--                    <div class="form-group">-->
<!--                        <label>FirstName</label>-->
<!--                        <input type="text" placeholder="FirstName" th:field="*{firstName}"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>LastName</label>-->
<!--                        <input type="text" placeholder="LastName" th:field="*{lastName}"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Email</label>-->
<!--                        <input type="text" placeholder="Email" th:field="*{email}"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label>Phone</label>-->
<!--                        <input type="text" placeholder="Phone" th:field="*{phone}"/>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="submit" value="Search"/>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col">
                <table class="table table-hover table-responsive">
                    <thead>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr th:each="ul:${listUser}">
                        <td th:utext="${ul.id}"></td>
                        <td th:utext="${ul.ssoId}"></td>
                        <td th:utext="${ul.fullname}"></td>
                        <td th:utext="${ul.email}"></td>
                        <td >
                            <p th:each="r:${ul.getUserRoleSet()}" th:utext="${r.name}"></p>
                        </td>
<!--                        <td><a th:href="@{/student/detail-student/{id}(id=${s.id})}">detail</a></td>-->
                        <td><a th:href="@{/admin/sendmail/{id}(id=${ul.id})}">Send Mail</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>